<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %></div>
    <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" value="<%= blog.title %>" required>
        </div>
        <div class="field">
            <label for="">Image</label>
            <input type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        <div class="field">
            <label for="">Blog Content</label>
            <textarea name="blog[body]" id="" cols="30" rows="10" required><%- blog.body %></textarea>
        </div>
        <input class="ui violet basic button" type="submit">
    </form>
</div>

<%- include("partials/footer") %>        
